{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'static.css' %}">
    <title>Document</title>
</head>
<body>   
    <div class="continer">
    <form action="/" method="get">
        <input name="text" value="" type="text"><button type="submit">Translation</button>
    </form>
    <br>
    <a class="o2" href=" {% url 'index' %}">uzb-eng</a>
    {% if data %}
    {% for alldata in data %}
    <p class="last" >{{ alldata.last_name }}</p>
    <p class="first" >{{ alldata.first_name }}</p>
    {% endfor %}
    {% endif %}
    <form action="" method="post">
        {{ form }}
    <div class="new">
        <hr>
        <a class="list" href="{% url 'list' %}">New word</a>
    </div>
    </div>
    </form>
</body>
</html>