.forms {
    width: 50%;
    height: 60vh;
    margin: auto;
    margin-top: 50px;
    box-sizing: border-box;
    padding: 2rem;
    border-radius: 1rem;
    background-color: hsl(0, 0%, 100%);
    border: 4px solid hsla(0, 0%, 90%, 0.205);
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
  }
  input {
    float: right;
    display: inline-block;
    font-weight: 400;
    font-size: 16px;
    font-family: monospace;
    outline: none;
    height: 6vh;
    border-radius: 5px;
    border: none;
    margin: 1%;
    background-color: rgba(123, 139, 161, 0.212);
    padding: 1%;
    width: 180px;
    
  }
  label {
      font-family: monospace;
      margin: 4%;
  }
  span {
      display: none;
  }
/* label {
    display: none;
} */

button {
    position: absolute;
    transform: translateX(-60px);
    margin-top: 60px;
}